<mat-card>
    <mat-card-title>{{ isEdit ? 'Editar' : 'Nueva' }} ONG</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="guardar()">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" required>
        <mat-error *ngIf="form.get('nombre')?.invalid">Requerido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="descripcion" required></textarea>
        <mat-error *ngIf="form.get('descripcion')?.invalid">Requerido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="correo" required>
        <mat-error *ngIf="form.get('correo')?.invalid">Correo inválido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion" required>
        <mat-error *ngIf="form.get('direccion')?.invalid">Requerido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono" required>
        <mat-error *ngIf="form.get('telefono')?.invalid">Requerido</mat-error>
      </mat-form-field>
     
      <button mat-flat-button color="primary" type="submit" [disabled]="loading || form.invalid">
        {{ isEdit ? 'Actualizar' : 'Crear' }}
      </button>
      <button mat-button color="warn" routerLink="/ongs" type="button">Cancelar</button>
    </form>
  </mat-card>
  