<mat-card>
    <mat-card-title>{{ isEdit ? 'Editar' : 'Nuevo' }} Comentario</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="guardar()">
      <mat-form-field appearance="fill">
        <mat-label>Contenido</mat-label>
        <textarea matInput formControlName="contenido" required></textarea>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Fecha Comentario</mat-label>
        <input matInput type="date" formControlName="fechaComentario" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Post</mat-label>
        <mat-select formControlName="postId" required>
          <mat-option *ngFor="let p of posts" [value]="p.idPosts">{{ p.contenido }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Donante</mat-label>
        <mat-select formControlName="donanteId" required>
          <mat-option *ngFor="let d of donantes" [value]="d.id">{{ d.nombre }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-flat-button color="primary" type="submit" [disabled]="loading || form.invalid">
        {{ isEdit ? 'Actualizar' : 'Crear' }}
      </button>
      <button mat-button color="warn" (click)="cancelar()" type="button">Cancelar</button>
    </form>
  </mat-card>
  